$blue:#2ec4b6;
$orange: #ff9f1c;
$lblue:#cbf3f0;
$lorange: #ffbf69;


@font-face{
    font-family: Bodoni;
    src: url("fonts/Bodoni.ttf");
}
@font-face{
    font-family: futura;
    src: url("fonts/Futura.ttf");
}
@font-face{
    font-family: Futural;
    src: url("fonts/Futura\ L.ttf");
}
@font-face{
    font-family: Futurab;
    src: url("fonts/Futura\ B.ttf");
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family:Futural;
}
html{
    scroll-behavior: smooth !important;
}
body{
    background: black;
    color: #ffffff;
    margin:0px 5%;
}


    nav{
        // background: navy;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:10px 0%;
        .logo{
            max-width:80px;
            height:auto;
            // background: yellow;
            img{
                width:100%;
                height:auto;
            }
        }
        .link{
            // display:none;
            
            // justify-content: center;
            ul li {
                display:inline;
                // font-size:3rem;
                margin:10px;
                a{
                    font-size:100%;
                    color:white;
                    text-decoration: none;
                    &:active{
                        color:$orange;
                    }
                    &:hover{
                        color:$orange;
                    }
                }

            }
        }
    }
.third.contact{
    div{
        width: 100%;
        // background:pink;
        button {
            &.whatsapp{
                background: #25D366;
                color:black;
                border:none;
               &:hover,&:active{
                    border:2px #25D366 solid;
                    background:none;
                }
            }
            &.facebook{
                background: #3b5998;
                color:black;
                border:none;
               &:hover,&:active{
                    border:2px #3b5998 solid;
                    background:none;
                }
            }
            &.twitter{
                background: #00acee;
                color:black;
                border:none;
               &:hover,&:active{
                    border:2px #00acee solid;
                    background:none;
                }
            }
            &.call{
                background: #888888;
                color:black;
                border:none;
               &:hover,&:active{
                    border:2px #888888 solid;
                    background:none;
                }
            }
            &.instagram{
                background: linear-gradient(left bottom,#F90100 ,#8134AF );
                color:black;
                border:none;
               &:hover,&:active{
                    border:2px #F90100 solid;
                    background:none;
                }
            }
            &.linkedin{
                background: #0072b1;
                color:black;
                border:none;
               &:hover,&:active{
                    border:2px #0072b1 solid;
                    background:none;
                }
            }
            width:100%;
            @media only screen and (max-width:320px){
                width:100%}
            height: auto;
            border-radius: 10px;
            a{
            width:100%;
            display:flex;
            align-items:center;
            background:none;
            font-size:1.3rem;
            @media only screen and (max-width:320px){
                font-size:1rem;}
            padding:0px;
            color:white;
            span{
                width:40px;
                @media only screen and (max-width:320px){
                    width:30px;}
                height:auto;
                // background:blue;
                margin-right:20px;
                padding:0px !important;
                
                
            }
            }
             
        }
    }
    
}
button{
    background: none;
    border:1px solid $orange;
    padding:5px 10px;
    margin:0px 5px;
    box-shadow: none;
    color:$orange;
    font-size:0.8rem;
    border-radius: 2px;
    &:hover,&:active{
        background:$orange;
        color:black;
        border:none;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: $orange;
        &:hover,&:active{
            color:black;
        }
    }
}
.thank{
    display: flex;
    flex-direction:column;
    align-items:center;
    p{
        margin:20px 0px;
    }
    button{
        margin:20px 0px;
        
    }
    .link{
        // background:blue !important;
        margin-bottom: 40px;
        a{
            font-size:100%;
            @media only screen and (max-width:320px){
                font-size:60%;
            }
        }
    }
}
@media only screen and (max-width:500px){
section{
    display:flex;
    flex-direction: column;
    margin-bottom:40px;
    padding:25px 0px;
    padding-bottom: 0px;
    &.first{
        font-size:13px;
        background: black;
        align-items: center;
        .hello{
            width:100%;
            text-align: center;
            font-size: 12px !important;
            span{
                font-size: 1rem;
            }
            p{
                text-align: center;
                margin:0px auto;
                width:80%;
                font-size:.8rem;
            }
            h2{
                font-size: 1.7rem;
                font-family:futura;
                color: $blue;
                margin-bottom:5px;
                span{
                    font-size:1.7rem;
                    font-family:Futura;
                    color:white;
                }
            }
            div{
                margin:20px;
            }
        }
        .picture{
            width:200px;
            // height:20px;
            // background:yellow;
            img{
                width:100%;
                height:auto;
            }
        }
    }
    &.second{
        .picture{
            width:70%;
            margin:0px auto;
            background:$blue;
            display:flex;
            flex-direction: column;
            margin-bottom: 30px;
            // height:20px;
            // background:yellow;
            align-items:center;
            img{
                width:100%;
                height:auto;
            }
        }
        .about{
            margin:0px auto;
            text-align: center;
            align-items:center;
            h3{
                font-size:1.4rem;
                font-family: Futurab;
                margin-bottom:10px;
            }
            p{
                font-size:.9rem;
                color:white;
                width:80%;
                margin:0px auto;
                font-family:"futural";
            }
           
        }
        .about div{
            text-align: left;
            display:flex;
            width:100%;
            margin:10px;
            font-size: 1rem;
            font-family: futural;
            line-height: 27px;
            color:white;
            // background:black;
            // justify-content: space-between;
        }
    }
    &.third{
        display: flex;
        flex-direction:column;
        // flex-wrap: wrap;
        h3{
            font-size:1.4rem;
            margin:0px auto;
            font-family: Futurab;
            text-align:center;
        }
        & div{
            // border: 30px white solid;
            display: flex;
            flex-direction:column;
            align-items: center;
            color:$lblue;
            width:100%;
            height:auto;
            margin:10px 0px;
            &.heads{
                width:100%;
                margin: 0px auto;
                text-align:center;
                color:white;
            }
            img{
                width:100%;
                height:auto;
                margin-bottom: 10px;
                margin-top:20px;
            }
            &:hover{
                // background:$orange;
                // color:black;
                border:none;
                // cursor: pointer;
                img{
                    opacity: 0.8;
                }
            }
        }
    }

}
}
@media only screen and (min-width:501px){
    section{
        display:flex;
        // flex-direction: column;
        margin-bottom:40px;
        padding:25px 0px;
        padding-bottom: 0px;
        &.first{
            // font-size:20%;
            background: black;
            align-items: center;
            justify-content:space-between;
            .hello{
                width:100%;
                text-align: left;
                // font-size: 12px !important;
                span{
                    font-size: 1rem;
                }
                p{
                    text-align: left;
                    // margin:0px auto;
                    width:80%;
                    // font-size:.8rem;
                }
                h2{
                    font-size: 200%;
                    font-family:futura;
                    color: $blue;
                    margin-bottom:5px;
                    // max-width:50%;
                    span{
                        font-size:1.7rem;
                        font-family:bodoni;
                        color:white;
                    }
                }
                div{
                    margin:20px 0px;
                }
            }
            .picture{
                max-width:35%;
                // height:20px;
                // background:yellow;
                img{
                    width:100%;
                    height:auto;
                }
            }
        }
        &.second{
            // font-size:.9rem;
            // background: brown;
            justify-content: space-around;
            .picture{
                display:flex;
                flex-direction:column;
                justify-content: flex-end;
                margin:0px;
                background:$blue;
                width:400%;
                @media only screen and (min-width:701px){
                    max-width: 200px;
                }
                margin:0px;
                // height:20px;
                // background:yellow;
                align-items:center;
                margin-right:50px;
                img{
                    width:100%;
                    height:auto;
                }
            }
            .about{
                margin:0px;
                text-align: left;
                align-items:left;
                max-width:50%;
                // background:pink;
                h3{
                    font-size:1.4rem;
                    font-family: Futurab;
                    margin-bottom:10px;
                }
                p{
                    font-size:.9rem;
                    color:white;
                    width:100%;
                    margin:0px;
                    font-family:"futural";
                }
            }
            .about div{
                text-align: left;
                display:flex;
                width:100%;
                margin:10px 0px;
                font-size: 1rem;
                font-family: futural;
                line-height: 27px;
                color:white;
                // background:blue;
    
                // justify-content: space-between;
            }
        }
        &.third{
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            h3{
                font-size:1.4rem;
                margin:0px auto ;
                font-family: Futurab;
            }
            & div{
                // border: 30px white solid;
                display: flex;
                flex-direction:column;
                color:$lblue;
                align-items: center;
                width:45%;
                height:auto;
                margin:0px auto;
                margin:10px auto;
                &.heads{
                    width:100%;
                    margin: 0px auto;
                    text-align:center;
                    color:white;
                }
                img{
                    width:100%;
                    height:auto;
                    margin-bottom: 10px;
                    margin-top:20px;
                }
                &:hover{
                    // background:$orange;
                    // color:black;
                    border:none;
                    // cursor: pointer;
                    img{
                        opacity: 0.8;
                    }
                }
            }
        }
    
    }
    }